# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Docker
mosquitto/data/
mosquitto/log/

# OS
.DS_Store
Thumbs.db
